:root {
  color: #bdbdbd;
  background: #2a2933;
  background: radial-gradient(
    circle,
    rgb(54, 54, 56) 30%,
    rgb(27, 27, 27) 100%
  );
  font-size: 64px;
}

body {
  font-size: 0.25rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-size: 0.7rem;
  font-weight: bold;
  margin: 0 0 0.1rem 0;
}

.description {
  width: 10rem;
  text-align: center;
  margin: 0 0 0.6rem 0;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 10rem;
}

@media screen and (max-width: 1060px) {
  :root {
    font-size: 48px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 24px;
  }
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
