:root {
  color: #bdbdbd;
  background-color: #2a2933;
  background: radial-gradient(
    circle,
    rgb(54, 54, 56) 30%,
    rgb(27, 27, 27) 100%
  );
  font-size: 80px;
}

body {
  font-size: 0.25rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

#app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.6rem;
}

@media screen and (max-width: 1300px) {
  :root {
    font-size: 64px;
  }
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
